body {
    font-family: sans-serif;
    font-size: 12pt;
}

.widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 500px;

    padding: 20px;

    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(100, 100, 100, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50pt;
    font-weight: bold;
}


.overlay.hidden{ visibility: hidden; }

.weather-box {

    width: calc(100% - 40px);
    height: 80%;

    border-radius: 20px;

    padding: 20px;

    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.location {
    font-size: 30pt;
    font-weight: bold;
}

.temp-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    
    align-items: center;
    justify-items: center;

    gap: 10px;
}

.main {
    grid-row: 1 / 3;
}

.main>p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.temp {
    font-size: 20pt;
}

.temp-min,
.temp-max {
    margin: 0;
    padding: 0;

    font-style: italic;
    justify-self: start;
}

.temp-title {
    font-size: 30pt;
    font-weight: bold;
}

.condition {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}
